@import '../../claims/claim-list/claim-list.component.css';

.claim-list-container {
  padding: 20px;
}

.claim-list-container h2 {
  margin: 0 0 20px;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primary-btn-text);
}
